<div class="row">
  
    <h1>Event Sources</h1>
  
    <tbody>
      <% @events.each do |event| %>
        <tr>
          <td><%= event.name %></td>
          <td><%= event.eventtime %></td>
          <td><%= event.ip_address %></td>

        </tr>
      <% end %>
    </tbody>
  </div>